@typeparam Titem

@if(MyList is null)
{
    @if(Loading is null)
    {
        <Loading/>// hemos creado un componente razor ya que ese gif de carga lo vamos a reutilizar, llamamos al componente razor.
                  //le ponemos la info que habia aqui en el Loadind.razor
    }
    else
    {
        @Loading
    }
}
else if(MyList.Count is 0)
{
    @if(NoRecord is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecord
    }
}
else
{
    @Body
}

